.App {
  font-family: 'Roboto', sans-serif;
}
.App-logo {
  height: 3rem;
  margin: 0.5rem;
}
.App-header {
  text-align: center;
  background-color: #222;
  height: 4rem;
  padding: 0.5rem;
  color: white;
}
.App-title {
  font-size: 2.8rem;
  display: inline-block;
  position: relative;
  top: -1rem;
  margin: 0;
}
.App-intro {
  font-size: large;
}
.AutoComplete {
  text-align: center;
  display: block;
}
.RepImage {
  max-height: 3rem;
}
